@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8">
    <ul class="unstyled">
        <li>
            <div class="Article_item">
                <div class="Article_item_photo">
                    <a href="/account/ciweigongshe">
                        <img class="pfs" src="http://headr.b0.upaiyun.com/ciweigongshe.jpg" width="40" alt="刺猬公社" height="50">
                    </a>
                </div>
                <div class="Article_item_title">
                    <span>
                        <a href="/n/826506" target="_blank">
                            一周优秀深度报道推荐(10月20日-25日)
                        </a>
                    </span>
                </div>
                <div class="Article_item_Author">
                    <span>
                        <a class="Article_item_foot" href="">
                            <span>
                                刺猬公社
                            </span>
                        </a>
                        发布于&nbsp;<span>2014-10-26 11:03</span>&nbsp;
                    </span>
                </div>
            </div>
        </li>
    </ul>
    <div class="pagination pagination-centered">
        <ul contenteditable="true">
            <li><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </div>
</div>
<div class="span4">
    <form class="form-search">
        <input class="input-medium search-query" type="text">
        <button type="submit" class="btn" contenteditable="true">查找</button>
    </form>

    <div class="zhuyecelan">
        <a href="http://hpocon.com/" target="_blank" title="中国高性能架构和运维大会">
            <img src="http://pic.cnitblog.com/face/174228/20140113231352.png">
        </a>
    </div>
</div>
